.places{
    margin: 30px auto;
    max-width: 1000px;
}

.places h1{
    font-size: 30px;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    
}

.places h2{
    font-size: 30px;
    text-align: center;
}

div.articles{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
